<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
      .btn-number-submit {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
      }

      .btn-number-submit:hover,
      .btn-number-submit:focus,
      .btn-number-submit:active,
      .btn-number-submit.active,
      .open > .dropdown-toggle.btn-number-submit {
        color: #fff;
        background-color: #49013f;
        border-color: #adadad;
      }
    </style>
    <script>
      if(typeof(EventSource) !== "undefined") 
      {
        var source = new EventSource("/update");
        source.onmessage = function(event) {
          var updated_data = jQuery.parseJSON( event.data );
          if ( updated_data.user1_ready == "Yes" )
          {
            $('#user1-input').attr('disabled', true);
            $('#user1-btn').attr('disabled', true);
          }
          if ( updated_data.user2_ready == "Yes" )
          {
            $('#user2-input').attr('disabled', true);
            $('#user2-btn').attr('disabled', true);
          }
          if ( updated_data.result != "" )
          {
            $("#result").addClass("in")
            $('#result').text( updated_data.result ); 
          }
          $('#user1-ready').text( updated_data.user1_ready ); 
          $('#user2-ready').text( updated_data.user2_ready ); 
          $('#user2-email').text( updated_data.user2_email );
          $('#user2-time').text( updated_data.user2_login_time );
        }
      }
      else 
      {
        alert("Sorry, this example doesn't support this browser.");
        window.location.href('http://www.privacytek.com');
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted"><a href="{{ url_for('index') }}">Trustance Example - Millionaire Problem Solver</a></h3>
      </div>
      <hr/>
      {%- for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert {{ 'alert-danger' if category == 'error' }}
      {{ 'alert-success' if category == 'success' }}
      {{ 'alert-info' if category == 'info' }}">
        {{ message }}
      </div>
      {%- endfor %}
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <div class="caption">
              <h3 id="user1-email">{{ user1.email }}</h3>
              <p>Login Time: <a id="user1-time">{{ user1.login_time.strftime("%Y-%m-%d %H:%M:%S") }}</a></p>
              <p>Ready: <a id="user1-ready">No</a></p>
              {% if user1.token == token %}
              <p>How much money do you have:</p>
              <form action="{{ url_for('index') }}" method="POST">
                <div class="input-group">
                  <input type="text" class="form-control" id="user1-input" placeholder="Enter the number" name="number" value="{{ user1.number if user1.number != -1 }}">
                  <span class="input-group-btn">
                    <input id="user1-btn" class="btn btn-number-submit" type="submit" name="user1-btn" value="Enter">
                  </span>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <div class="caption">
              {% if user2 == None %}
                <h3 id="user2-email">N/A</h3>
                <p>Login Time: <a id="user2-time">N/A</a></p>
                <p>Ready: <a id="user2-ready">N/A</a></p>
              {% else %}
                <h3 id="user2-email">{{ user2.email }}</h3>
                <p>Login Time: <a id="user2-time">{{ user2.login_time.strftime("%Y-%m-%d %H:%M:%S") }}</a></p>
                <p>Ready: <a id="user2-ready">No</a></p>
                {% if user2.token == token %}
                <p>How much money do you have:</p>
                <form action="{{ url_for('index') }}" method="POST">
                  <div class="input-group">
                    <input type="text" class="form-control" id="user2-input" placeholder="Enter the number" name="number" value="{{ user2.number if user2.number != -1 }}">
                    <span class="input-group-btn">
                       <input id="user2-btn" class="btn btn-number-submit" type="submit" name="user2-btn" value="Enter">
                    </span>
                  </div>
                </form>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div id="result" class="alert alert-success fade" data-alert="alert">
      Waiting...
      </div>
    </div>
  </body>
</html>
